/*Propiedades de alineación de los ítems, se incluyen en el contendor para que se alineen los items
* justify-items -> Alineación horizontal
* align-items -> Alineación vertical
* place-items -> Alineación horizontal y vertical
*/

/* Propiedades de alineación del contenedor, alinear la grid completa.
* justify-content: center; -> Centra el grid de forma horizontal a la mitad del contenedor.
* align-content: center; -> Centra el grid de forma vertical a la mitad del contenedor.
* place-content: center; -> Centra el grid de forma vertical y horizontal del contenedor.
*/

/* Propiedades de alineación del ítem, alinear un sólo item.
* justify-self
* align-self
* place-self
*/

.contenedor {
  border: 5px solid #e1bee7;
  background-color: #fff1ff;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 150px 150px 150px;
  grid-auto-rows: 150px;
  place-content: center;
  place-items: end;
  height: 600px;
}

.item {
  border: 5px solid #00bcd4;
  font-size: 2rem;
}