.contenedor {
  border: 5px solid #e1bee7;
  background-color: #fff1ff;
  display: grid;

  /* grid-template-columns, indica el número de columnas, y el ancho de cada una de ellas */
  grid-template-columns: [perro dog] 50px [gato] 100px [raton] 200px;

  /* grid-template-rows, indica el número de filas, y el ancho de cada una de ellas */
  grid-template-rows: 400px 50px;
  /*grid-auto-rows, se le asigna a todas la filas el ancho indicado*/
  /*grid-auto-rows: 150px;*/
  /*grid-auto-flow, Con esta propiedad modificamos como se se está llenando el grid*/
  grid-auto-flow: column;
  /*grid-auto-columns, Con esta propiedad indicamos el ancho de la columna*/
  grid-auto-columns: 50px;
  /*gap, indicamos el espaciado entre columnas y filas*/
  gap: 15px;
  /*row-gap, indicamos el espacio entre filas*/
  /*column-gap, indicamos el espacio entre columnas*/
}

.item {
  border: 5px solid #00bcd4;
  font-size: 2rem;
}